#!/usr/bin/env bash
# If not running interactively, don't do anything
[ -z "$PS1" ] && return

# Source files
. ~/.config/defaults.sh
. ~/.config/prompt.sh
. ~/.config/exports.sh
. ~/.config/functions.sh
. ~/.config/aliases.sh
. ~/.config/path.sh

# In case additional local scripts are needed
run_scripts(){
  for script in $1/*; do
    [ -x "$script" ] || continue
    . $script
  done
}
run_scripts $HOME/.bashrc.d
