#!/usr/bin/env bash
# If not running interactively, don't do anything
[ -z "$PS1" ] && return

# Source files
. defaults.sh
. prompt.sh
. exports.sh
. functions.sh
. aliases.sh
. path.sh

# In case additional local scripts are needed
run_scripts(){
  for script in $1/*; do
    [ -x "$script" ] || continue
    . $script
  done
}
run_scripts $HOME/.bashrc.d
